
<app-add-employee></app-add-employee>
<div class="purple-square-container" style="width:800xp">
<!-- Essential Add Employee Type -->
<div class="container">
    <div class="jumbotron" >
            <h1 class="display-4 text-center">Employee Type</h1>
            <hr>
                    <app-employee-type></app-employee-type>
                    <hr>
                    
                    <app-employee-type-list></app-employee-type-list>
               
        </div>
    </div>
    </div>
