<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />


<body  style="background-color:#33cc99; height: 75px;" font-family="Quicksand;" font-size="20px;">
        <div class="w3-top">
                <div >
                 <a href="#" ><img src='assets/NURSES.PNG' style="height:75px;width:300px" alt="..."></a>


                 <div class="w3-dropdown-hover w3-button w3-hide-small">
                    <a href="#" class="w3-bar-item   w3-btn   "> <span>Welcome, <strong>Mike</strong></span></a>
                   <button class="w3-padding-large w3-button  " title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green ">3</span></button>
                   <!-- <div class="w3-dropdown-content w3-card-4 w3-bar-block w3-button" style="width:300px">
                     <a href="#" class="w3-bar-item w3-btn  ">One new friend request</a>
                     <a href="#" class="w3-bar-item w3-btn ">John Doe posted on your wall</a>
                     <a href="#" class="w3-bar-item w3-btn ">Jane likes your post</a>
                   </div> -->
                 </div>
                 <a href="#" class="w3-bar-item  w3-hide-small w3-btn w3-right w3-padding-large " title="My Account">
                   <button class=" w3-padding-large w3-btn" *ngIf="userService.roleMatch(['Admin'])">
                   <a routerLink="/adminPanel">route-text</a></button>
                  <button class="w3-padding-large w3-btn " title="Notifications" (click)= "Logout()" >Logout</button><button class=" w3-padding-large w3-btn " title="Notifications" >Help</button><a><i class="material-icons" > help </i></a>
                 </a>
                </div>
               </div>

               <div class="w3-row">
                   <!--First column-->
                   <div class="w3-col m3" style="margin-top:75px">
                        <div class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:300px;"  >

                            <div style="background-color: #33cc99;"  class="w3-bar-block " >

                                <li class="dropdown" >
                              <a href="applyNurse" class="dropbtn w3-bar-item  w3-padding whitetext">   <i class="material-icons">supervisor_account </i>Apply to be Nurse</a>
                                  </li>

                              <hr color="white" style="width:300px;">


                              <li class="dropdown" >
                              <a href="javascript:void(0)"  class="dropbtn w3-bar-item  w3-padding whitetext"><i class="material-icons">local_hospital </i>Apply to be Client</a>
                              <div class="dropdown-content">
                                  <a href="#">Edit Hospital Department</a>
                                  <a href="#">Search Hospital Department </a>

                                </div>
                                  </li>

                              <hr color="white" style="width:250px;">

                              <li class="dropdown" >
                              <a href="javascript:void(0)"  class="dropbtn w3-bar-item  w3-padding whitetext"><i class="material-icons"> local_pharmacy </i>About Us</a>
                              <div class="dropdown-content">
                                  <a href="#">Update Nurse Details</a>
                                  <a href="#">Search Nurse</a>
                                  <a href="#">Archive Nurse</a>
                                  <a href="#">Update Nurse Qualification</a>
                                  <a href="#">Search Nurse Qualification</a>
                                  <a href="#">Add Skill</a>
                                  <a href="#">Search Skill</a>
                                  <a href="#">Update Skill</a>
                                  <a href="#">Add Rank</a>
                                  <a href="#">Update Rank</a>
                                </div>
                                  </li>

                              <hr color="white" style="width:250px;">


                              <li class="dropdown" >
                              <a href="javascript:void(0)"  class="dropbtn w3-bar-item w3-padding whitetext"><i class="material-icons"> settings</i> Settings & Config</a>
                              <div class="dropdown-content">
                                  <a href="#">Back-Up</a>
                                  <a href="#">Restore</a>
                                  <a href="#">Settings</a>
                                </div>
                                  </li>
                            </div>
                        </div>
                   </div>
                  <!--Middle column-->


                  </div>

</body>

