@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

button.btn-submit{
  background-color: #33cc99;
  color: #fff;
  width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
  background-color: #38547b;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

/*for tab control*/
.tabs{
  height: 85px;


}
.tabs .tab{
  text-transform : none !important;
  line-height: 85px;
  height: 85px;
  display: inline-block;

}
.tabs .tab a{
  font-size: 25px;
  color: grey !important;
}

.tabs .tab a.active{
  background-color: #fff !important;
}

#wrapper{
	display:block;
	width:90%;
	margin:auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// css for validation
input.ng-touched.ng-invalid{
  border-color: #dc3545;
}
div.validation-error{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

button[type="submit"]{
  background-color: #33cc99;
  color: #fff;
  width: 100%;
}
