
<div class="purple-square-container" style="width:800xp">
<!-- Essential Add Employee Type -->
<div class="container">
    <div class="jumbotron" >
            <hr>
            <app-employee></app-employee>
                    <hr>
                    <h1 style="font-family: Quicksand">DorDor Employees</h1>
                    <hr>
                    <app-employee-list></app-employee-list>
               
        </div>
    </div>
    </div>