<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
<app-dashboard-all></app-dashboard-all>
<body>

<form>
<h1 style="text-align:center" >Hospital Application</h1>


<div class="container"  style="border: 2px solid #33cc99">
    <div class="row">
        <legend   >HospitalDetails</legend>
      <div class="col-sm-1">
        <br>
          <label class="text" for="firstName" format_align_right>Name:</label>
          <br>
          <br>
          <label class="text"for="firstName" format_align_right>Address: </label>
          <br>

      </div>
      <div class="col-sm-5" >
          <select class="form-control" >
              <option >Hosp_Name</option>
            </select>
          <input type="text" class="form-control" id="name" required>

      </div>
      <div class="col-sm-1">
          <br>
          <label class="text"for="firstName" format_align_right>Email:</label>
          <br>
          <br>
          <label class="text" for="firstName">Telephone:</label>

      </div>
      <div class="col-sm-5">
          <input type="text" class="form-control"  id="name" required>
          <input type="text" class="form-control" id="name" required>

      </div>
    </div>
  </div>
  <br>
        <!-- Location/Next Of Kin -->


            <!-- Second Row -->

                <div class="container" style="border: 2px solid #33cc99" >
                    <div class="row"  >
                        <legend>Hospital Department Details</legend>
                        <div class="col-sm-1">

                            <br>
                              <label class="text" for="firstName" format_align_right>Department Name:</label>
                              <br>

                          </div>
                          <div class="col-sm-5" >
                              <input type="text" class="form-control" id="name" required>
                          </div>
                        </div>
                      </div>
                <br>

              <!-- Next Div -->

              <div class="container" style="border: 2px solid #33cc99" >
                  <div class="row"  >
                      <legend>Hospital Department Manager Details</legend>
                      <div class="col-sm-1">

                          <br>
                            <label class="text" for="firstName" format_align_right>Name:</label>
                            <br>
                            <br>
                            <label class="text" for="firstName" format_align_right>Surname:</label>
                            <br>
                            <br>

                        </div>
                        <div class="col-sm-5" >
                            <input type="text" class="form-control" id="name" required>
                            <input type="text" class="form-control" id="name" required>

                        </div>
                        <div class="col-sm-1">
                          <br>
                            <label class="text" for="firstName" format_align_right> Office Cellphone:</label>
                            <br>
                            <br>
                            <label class="text" for="firstName" format_align_right>Email:</label>
                            <br>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control"  id="name" required>
                            <input type="text" class="form-control" id="name" required>

                        </div>
                        <button>Submit Application</button>


                        <button>Cancel Application</button>

                      </div>
                    </div>
              <br>


                <br>


</form>


</body>
