<div class="row">
<div class="col s6 offset-s3">
  <div class="card">
    <div class="card-image">
    <img src="/assets/img/403.png" style= "height: 300px; width: 300px">
  </div>
  <div class="card-content">
    <span class="card-title" style="color: #33cc99"> 403 - Access Dinied</span>
    <p>Tou do not have the permission to access this resource</p>
  </div>
  </div>

</div>
</div>
