<form #ImageForm=ngForm (submit)="onSubmit(File)">
  <img [src]="imageUrl" style="height: 23px; width: 23px;">
  <input type="file" (change)="handleFileInput($event.target.files)" name="File" #File class="form-control"  accept="image/*" >
<button type="submit" [disabled]="ImageForm.invalid"> SUBMIT</button>
</form>
