
<table class="table table-hover">
    <tr>
                    <th>[ID] Employee Type</th>
                    <th>Description</th>
                    <th>[ x ]</th>
                  </tr>
                  <tr *ngFor ="let emp_type of service.list">
        <td (click) = "populateForm(emp_type)">[{{emp_type.Emp_Type_ID}}]-{{emp_type.Emp_Type_Name}}</td>
        <td (click) = "populateForm(emp_type)">{{emp_type.Emp_Type_Description}}</td>
        <td (click) = "onDelete(emp_type.Emp_Type_ID)"><button class="btn btn-outline-secondary" > <i class="fas fa-trash-alt"></i></button></td>
        
    </tr>
</table> 

