<body style="font-family: Quicksand">
<table class="table table-hover">
        <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Contact Number</th>
                        <th>Email Address</th>
                        <th>Date of Birth</th>
                        <th></th>
                      </tr>
                      <tr *ngFor ="let emp_type of employeeService.list">
            <td (click) = "populateForm(emp_type)">[{{emp_type.Emp_ID}}]</td>
            <td (click) = "populateForm(emp_type)">{{emp_type.Emp_Name}}</td>
            <td (click) = "populateForm(emp_type)">{{emp_type.Emp_Surname}}</td>
            <td (click) = "populateForm(emp_type)">{{emp_type.Emp_Cellphone}}</td>
            <td (click) = "populateForm(emp_type)">{{emp_type.Emp_Email}}</td>
            <td (click) = "populateForm(emp_type)">{{emp_type.Emp_DOB}}</td>
            <td (click) = "onDelete(emp_type.Emp_ID)"><button class="btn btn-outline-secondary" > <i class="fas fa-trash-alt"></i></button></td>

        </tr>
    </table>
  </body>
