<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
<app-dashboard-all></app-dashboard-all>
<body>

<form #form = "ngForm" (submit)="onSubmit(form,CV,ID,PoB)">
  <div class="form-group">
<h1>Nurse Application</h1>
<div class="container"  style="border: 2px solid #33cc99">
    <div class="row">
        <legend   >Nurse Personal Details</legend>
      <div class="col-sm-1">
          <br>
          <label class="text" name="Title" format_align_right>Title:</label>
          <br>
        <br>
          <label class="text" name="Name"  format_align_right>Name:</label>
          <br>
          <br>
          <label class="text" name="Surname" format_align_right>Surname: </label>
          <br>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="form-group  col-sm-5" >
        <br>
          <select class="form-control" name="Title_ID" #Title_ID="ngModel" [(ngModel)]="nursService.nurseData.Title_ID" required>
              <option *ngFor="let ttl of titlService.titlelist" value={{ttl.Title_ID}}>{{ttl.Title_Abbreviation}}</option>
            </select>
          <input name="Nurse_FName" #Nurse_FName="ngModel" [(ngModel)]="nursService.nurseData.Nurse_FName" class="form-control"  required>
          <div class="validation-error" *ngIf="Nurse_FName.invalid && Nurse_FName.touched">This field is required.</div>
          <input name="Nurse_LName" #Nurse_LName= "ngModel" [(ngModel)]="nursService.nurseData.Nurse_LName" class="form-control" required>
          <div class="validation-error" *ngIf="Nurse_LName.invalid && Nurse_LName.touched">This field is required.</div>
      </div>
      <div class="col-sm-1">
        <br>
          <label class="text" name="Rank">Rank:</label>
          <br>
          <br>
          <label class="text" name="Cellphone">Cellphone:</label>
          <br>
          <br>
          <label class="text" name="Email">Email:</label>
          <br>
      </div>
      <div class="form-group col-sm-5">
        <br>
          <select  class="form-control" name="Rank_ID" #Rank_ID="ngModel" [(ngModel)]="nursService.nurseData.Rank_ID" required>
            <option *ngFor="let rank of rankService.rankList" value ={{rank.Rank_ID}}>{{rank.Rank_Name}}</option>
          </select>
          <input name="Nurse_Cellphone" #Nurse_Cellphone="ngModel" [(ngModel)]="nursService.nurseData.Nurse_Cellphone" class="form-control" [minlength]=9 [maxLength]=15 required>
          <div class="validation-error" *ngIf="Nurse_Cellphone.invalid && Nurse_Cellphone.touched">Minimum 9 number for a cellphone number</div>
          <input type="email" name="Nurse_Email" #Nurse_Email="ngModel" [(ngModel)]="nursService.nurseData.Nurse_Email" class="form-control" required>
          <div class="validation-error" *ngIf="Nurse_Email.invalid && Nurse_Email.touched">This field is required.</div>
      </div>
    </div>
  </div>
  <br>
        <!-- Location/Next Of Kin -->
            <!-- Second Row -->
                <div class="container" style="border: 2px solid #33cc99" >
                    <div class="row"  >
                        <legend>Location</legend>
                        <div class="col-sm-1">
                            <br>
                              <label class="text"  format_align_right>Street:</label>
                              <br>
                              <br>
                              <label class="text"  format_align_right>Building:</label>
                              <br>
                              <br>
                              <br>
                              <label class="text"   format_align_right>City:</label>
                              <br>
                          </div>
                          <div class="form-group col-sm-5" >
                              <input name="Street" #Street="ngModel" [(ngModel)]="locatnService.locationData.Street" class="form-control" id="name" required>
                              <div class="validation-error" *ngIf="Street.invalid && Street.touched">This field is required.</div>
                              <input name="Building" #Building="ngModel" [(ngModel)]="locatnService.locationData.Building" class="form-control" id="name" required>
                              <div class="validation-error" *ngIf="Building.invalid && Building.touched">This field is required.</div>
                              <br>
                              <br>
                              <select name="City_ID" #City_ID="ngModel" [(ngModel)]="locatnService.locationData.City_ID" class="form-control" required>
                                <option *ngFor="let city of citiService.citylist" value={{city.City_ID}}>{{city.City_Name}}</option>
                              </select>
                          </div>
                          <div class="col-sm-1">
                            <br>
                              <label class="text" >Province:</label>
                              <br>
                              <br>
                              <label class="text" >Postal Code</label>
                              <br>
                              <br>
                              <label class="text" >Transport:</label>
                              <br>
                          </div>
                          <div class="form-group col-sm-5">
                            <br>
                              <select class="form-control" required>
                                <option *ngFor="let prov of provService.provincelist" value="prov.Prov_ID" >{{prov.prov_Name}}</option>
                              </select>
                                <br>

                              <select name="Pos_Code" #Pos_Code="ngModel" [(ngModel)]="locatnService.locationData.Pos_Code" class="form-control">
                                <option *ngFor="let post of postService.postallist" value={{post.Pos_Code}}>{{post.Pos_code_no}}</option>
                              </select>
                              <br>
                              <select name="Nurse_Transport" #Nurse_Transport="ngModel" [(ngModel)]="nursService.nurseData.Nurse_Transport" class="form-control" required>
                                <option value="Public">Public</option>
                                <option value="Private">Private</option>
                              </select>
                              <div class="validation-error" *ngIf="Nurse_Transport.invalid && Nurse_Transport.touched">This field is required.</div>
                          </div>
                        </div>
                      </div>
                <br>

              <!-- Next Div -->

              <div class="container" style="border: 2px solid #33cc99" >
                  <div class="row"  >
                      <legend>Next of Kin</legend>
                      <div class="col-sm-1">

                          <br>
                            <label class="text"  format_align_right>Name:</label>
                            <br>
                            <br>
                            <label class="text"  format_align_right>Surname:</label>
                            <br>
                            <br>

                        </div>
                        <div class="form-group col-sm-5" >
                            <input name="Name" #Name="ngModel" [(ngModel)]="nextOKinService.nokData.Name" class="form-control" required>
                            <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required.</div>
                            <input name="Surname" #Surname="ngModel" [(ngModel)]="nextOKinService.nokData.Surname" class="form-control" required>
                            <div class="validation-error" *ngIf="Surname.invalid && Surname.touched">This field is required.</div>

                        </div>
                        <div class="col-sm-1">
                          <br>
                            <label class="text"  format_align_right>Cellphone:</label>
                            <br>
                            <br>
                            <label class="text"  format_align_right>Email:</label>
                            <br>
                        </div>
                        <div class="form-group col-sm-5">
                            <input name="Cellphone" #Cellphone="ngModel" [(ngModel)]="nextOKinService.nokData.Cellphone" class="form-control"  required>
                            <div class="validation-error" *ngIf="Cellphone.invalid && Cellphone.touched">This field is required.</div>
                            <input name="Email" #Email="ngModel" [(ngModel)]="nextOKinService.nokData.Email" class="form-control" required>
                            <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field is required.</div>

                        </div>
                      </div>
                    </div>
              <br>


          <!-- Next Div Section -->

              <!-- Bank/Employment -->

              <div class="container" style="border: 2px solid #33cc99" >
                  <div class="row"  >
                      <legend>Bank</legend>
                      <div class="col-sm-1">

                          <br>
                            <label class="text"  format_align_right>Bank Name:</label>
                            <br>
                            <br>
                            <label class="text"  format_align_right>Account Holder:</label>
                            <br>
                            <br>
                            <label class="text"  format_align_right>Account Number:</label>
                            <br>
                        </div>
                        <div class="form-group col-sm-5" >
                          <!-- Bank Name is a Drop Down -->
                          <br>
                            <select class="form-control" name="Bank_ID" #Bank_ID="ngModel" [(ngModel)]="accService.accountData.Bank_ID" required>
                              <option *ngFor="let bank of bnkService.banklist" value={{bank.Bank_ID}}>{{bank.Bank_Name}}</option>
                            </select>
                            <br>
                            <input name="Account_Holder" #Account_Holder ="ngModel" [(ngModel)]="accService.accountData.Account_Holder" class="form-control" required>
                            <div class="validation-error" *ngIf="Account_Holder.invalid && Account_Holder.touched">This field is required.</div>
                            <input name="Account_Number" #Account_Number="ngModel" [(ngModel)]="accService.accountData.Account_Number" class="form-control" required>
                            <div class="validation-error" *ngIf="Account_Number.invalid && Account_Number.touched">This field is required.</div>
                        </div>
                        <div class="col-sm-1">
                          <br>
                            <label class="text" >Branch Code:</label>
                            <br>
                            <br>
                            <label class="text" >Account Type:</label>
                            <br>

                        </div>
                        <div class="form-group col-sm-5">
                            <input type="number" name="Bank_Code" #Bank_Code = "ngModel" [(ngModel)]="bnkService.bankData.Bank_Code" class="form-control" [maxlength]=10 required>
                            <div class="validation-error" *ngIf="Bank_Code.invalid && Bank_Code.touched">This field is required.</div>
                            <br><br>
                            <select name="Account_Type_ID" #Account_Type_ID="ngModel" [(ngModel)]="accService.accountData.Account_Type_ID" class="form-control"  required>
                              <option *ngFor="let item of accountTypeService.list" value={{item.Account_Type_ID}}>{{item.Account_Type_Name}}</option>
                            </select>
                            <div class="validation-error" *ngIf="Bank_Code.invalid && Bank_Code.touched">This field is required.</div>

                        </div>
                      </div>
                    </div>
              <br>

                <!-- Next Div -->

                <div class="container" style="border: 2px solid #33cc99" >
                    <div class="row"  >
                        <legend>Employment History</legend>
                        <div class="col-sm-1">

                            <br>
                              <label class="text"  format_align_right>Employer:</label>
                              <br>
                              <br>
                              <label class="text"  format_align_right>Position:</label>
                              <br>
                              <br>
                              <label class="text"  format_align_right>Nurse Skill:</label>
                              <br>
                              <br>
                              <label class="text"  format_align_right>Date-Start:</label>
                              <br>
                              <br>
                              <label class="text"  format_align_right>Date-End:</label>
                              <br>
                              <br>
                          </div>
                          <div class="form-group col-sm-5" >
                              <input name="Employer" #Employer="ngModel" [(ngModel)]= "empHistService.EmpHistData.Employer" class="form-control" required>
                              <input name="Position" #Position="ngModel" [(ngModel)] ="empHistService.EmpHistData.Position" class="form-control" required>
                              <br>
                              <select name="Skill_ID" #Skill_ID="ngModel" [(ngModel)]="skilService.skillData.Skill_ID" class="form-control" required>
                                <option *ngFor="let skill of skilService.skillList" value={{skill.Skill_ID}}>{{skill.Skill_Name}}</option>
                              </select>
                              <br>
                          <br>
                          <br>
                              <input type="date" name="Date_Start" #Date_Start="ngModel" [(ngModel)]="empHistService.EmpHistData.Date_Start" class="form-control" required>
                              <input type="date" name="Date_End" #Date_End="ngModel" [(ngModel)]="empHistService.EmpHistData.Date_End" class="form-control" required>
                          </div>
                          <div class="col-sm-1">
                            <br>
                              <label class="text" >Tertiary Institution:</label>
                              <br>
                              <br>
                              <label class="text" >Tax Number</label>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                          </div>
                          <div class="form-group col-sm-5">
                              <br>
                              <select name="Name" class="form-control" required>
                                <option *ngFor="let ti of tertInstService.tertlist" value="ti.TI_ID">{{ti.Name}}</option>
                              </select>
                              <br>
                              <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required.</div>
                              <input name="Tax_Number" #Tax_Number ="ngModel" [(ngModel)]="nursService.nurseData.Tax_Number" class="form-control" required>
                              <div class="validation-error" *ngIf="Tax_Number.invalid && Tax_Number.touched">This field is required.</div>
                              <div>
                                  <label class="text" >Cv:</label>
                                  <br>
                                  <img [src]="imageUrl" style="height: 23px; width: 23px;">
                                  <input type="file" (change)="handleFile1Input($event.target.files)" name="File1" #CV class="form-control"  accept="image/*" >
                                  <hr>
                                  <label class="text">ID</label>
                                  <br>
                                  <input type="file" (change)="handleFile2Input($event.target.files)" #ID accept="image/*" >
                                  <hr>
                                  <label class="text">Proof of Banking:</label>
                                  <br>
                                  <input type="file" (change)="handleFile3Input($event.target.files)" #PoB accept="image/*" >
                              </div>
                          </div>

                        </div>
                        <div class="form-group">
                          <div>
                            <button type="submit" [disabled]=" CV.value=='' || ID.value=='' || PoB.value =='' || form.invalid "  class="btn btn-lg btn-block">Submit Application</button>
                          </div>
                        </div>
                        <div >
                        <button>Cancel Application</button>
                      </div>
                      </div>
                <br>

              </div>
</form>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
