<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
</div>
<div class="container"style="width:800px; margin:0 auto;">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card grey lighten-2">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab">
                <a routerLink='/login' routerLinkActive='active'>Sign In</a>
              </li>
              <li class="tab">
                <a  routerLink='/signup' routerLinkActive='active'>Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="card-content white">
            <div class="row">
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

    </div>
  </div>


