<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
<!-- <app-dashboard-all></app-dashboard-all> -->


<body style="font-family: Quicksand; font-weight:bold; font-size: 28px;">

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
<h1 style="text-align:center" >Add Employee Record</h1>


<div class="container"  style="border: 2px solid #33cc99;" >
    <div class="row">
        <legend   >Personal Details</legend>
      <div class="col-sm-1">
          <label class="text" format_align_right>Title:</label>
        <br>
          <label class="text" format_align_right>Name:</label>
        <br>
          <label class="text">Surname:</label>
       <br>
          <label class="Number; width=100px; height:100px;" format_align_right>Date of Birth:</label>
        <br>
        <br>
        <label class="Number" format_align_right>Contact Number:</label>
        <br>
        <label class="text" format_align_right>Email Address:</label>
      </div>
      <div class="col-sm-5" >
          <select style="width: 100px"    #Title_ID="ngModel" name="Title_ID"  [(ngModel)]="employeeService.formData.Title_ID"  class="form-control" required>
            <option *ngFor="let title of titleService.titlelist" value={{title.Title_ID}}>
                {{title.Title_ID}}></option>
          </select>
        <input #Emp_Name="ngModel" name="Emp_Name"  [(ngModel)]="employeeService.formData.Emp_Name"  class="form-control" required>
        <input #Emp_Surname="ngModel" name="Emp_Surname" [(ngModel)]="employeeService.formData.Emp_Surname"  class="form-control" required>
       <input type="date" #Emp_DOB="ngModel"  name="Emp_DOB"  [(ngModel)]="employeeService.formData.Emp_DOB"  class="form-control" required>
       <input #Emp_Cellphone="ngModel" name="Emp_Cellphone" [(ngModel)]="employeeService.formData.Emp_Cellphone"  class="form-control" required>
       <input #Emp_Email="ngModel" name="Emp_Email" [(ngModel)]="employeeService.formData.Emp_Email"  class="form-control" required>
      </div>
      </div>

  <hr style="border-block-color: #33cc99"/>

      <div class="row">
  <div class="col-sm-1">
      <label class="Number" format_align_right>Branch:</label>
      <br>
      <br>
      <label class="Number" format_align_right>Employee Type:</label>
      <br>

  </div>
  <div class="col-sm-5" >
      <select name ="Branch_ID" #Branch_ID= "ngModel" [(ngModel)]="employeeService.formData.Branch_ID"  class="form-control" required>
        <option *ngFor="let branch of branchService.list" value={{branch.Branch_ID}}>
          {{branch.Branch_Name}}
        </option>
      </select>
      <br>
      <select name ="Emp_Type_ID" #Emp_Type_ID= "ngModel" [(ngModel)]="employeeService.formData.Emp_Type_ID"  class="form-control" required>
          <option *ngFor="let emp of employeeTypeService.list" value={{emp.Emp_Type_ID}}>
            {{emp.Emp_Type_Name}}
          </option>
        </select>
  <br>
  </div>
</div>
</div>

<hr/>
<hr/>
              <!-- Next Div -->

              <div class="container" style="border: 2px solid #33cc99" >
                  <div class="row"  >
                      <legend>Address Details</legend>
                      <div class="col-sm-1">

                            <label class="text"  format_align_right>Street/Building:</label>
                            <br>
                          <br>
                            <label class="text"  format_align_right>City:</label>
                            <br>
                            <br>

                        </div>
                        <div class="col-sm-5" >
                            <input name="Street" class="form-control" required>
                           <br>
                            <select  name="City_ID" class="form-control"  required>
                              <option *ngFor="let city of cityService.citylist" value={{city.City_ID}}>{{city.City_Name}}</option>
                            </select>
                        </div>
                      </div>
                    </div>

                <div class="container" >


                    <button type="submit" [disabled]="form.invalid" value="submit"[disabled]="form.invalid" class="btn btn-lg" style="color: #33cc99" ><i class="material-icons">
                        add_circle
                        </i></button>

                  </div>
</form>
</body>
