<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="on">
    <input  type="hidden"   name="Qual_ID" #Qual_ID ="ngModel" [(ngModel)]="QualificationService.formData.Qual_ID">
    <div class="form-group">
        <label>Qualification</label>
        <input name="Qual_name" #Qual_name ="ngModel" [(ngModel)]="QualificationService.formData.Qual_name" class="form-control" required>
        <div class="validation-error" *ngIf="Qual_name.invalid && Qual_name.touched" >This Field is required</div>
    </div>
    <div class="form-group">
            <label>Description</label>
            <input name="Qual_Description" #Qual_Description ="ngModel" [(ngModel)]="QualificationService.formData.Qual_Description" class="form-control" required>
    </div>
    <div class="form-group">
        <button type="submit" [disabled] = "form.invalid" value="Submit" class="btn btn-lg">Add</button>
    </div>
</form>
