
<div class="purple-square-container" style="width:800xp">
<!-- Essential Add Employee Type -->
<div class="container">
    <div class="jumbotron" >
            <h1 class="display-4 text-center">Qualification</h1>
            <hr>
                    <app-qualification></app-qualification>
                    <hr>
                    <app-qualification-list></app-qualification-list>
        </div>
    </div>
    </div>
