
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="on">
    <input type="hidden" name="Emp_Type_ID" #Emp_Type_ID ="ngModel" [(ngModel)]="service.formData.Emp_Type_ID">
    <div class="form-group">
        <label>Employee Type Name</label>
        <input name="Emp_Type_Name" #Emp_Type_Name ="ngModel" [(ngModel)]="service.formData.Emp_Type_Name" class="form-control" required>
        <div class="validation-error" *ngIf="Emp_Type_Name.invalid && Emp_Type_Name.touched" >This Field is required</div>
    </div>
    <div class="form-group">
            <label>Employee Type Description</label>
            <input name="Emp_Type_Description" #Emp_Type_Description ="ngModel" [(ngModel)]="service.formData.Emp_Type_Description" class="form-control" required>
    </div>
    <div class="form-group">
        <button type="submit" [disabled] = "form.invalid" value="Submit" class="btn btn-lg">submit</button>
    </div>
</form>
