 <!-- <router-outlet></router-outlet> -->
<!-- <app-apply-to-be-hospital-department></app-apply-to-be-hospital-department> -->
<!-- <app-apply-to-be-nurse></app-apply-to-be-nurse> -->
 <!-- <app-add-employee></app-add-employee> -->
 <!-- <app-apply-to-be-hospital-department></app-apply-to-be-hospital-department> -->
 <!-- <app-user></app-user> -->
<!-- <app-apply-to-be-nurse></app-apply-to-be-nurse> -->

   <!-- <app-dashboard-all></app-dashboard-all> -->

      <router-outlet></router-outlet>

<!-- <app-add-employee></app-add-employee> -->
<!-- <app-add-hourly-rate></app-add-hourly-rate> -->
<!-- <app-search-qualification></app-search-qualification> -->
