<table class="table table-hover">
    <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Rank</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr *ngFor ="let cnfn of confirmnurseservice.ConfirmList">
        <td (click) = "populateForm(cnfn)">[{{cnfn.Nurse_FName}}]</td>
        <td (click) = "populateForm(cnfn)">{{cnfn.Nurse_LName}}</td>
        <td (click) = "populateForm(cnfn)">{{cnfn.Nurse_ID.}}</td>
        <td (click) = "onDelete(cnfn.Emp_Type_ID)"><button class="btn btn-outline-secondary" > <i class="fas fa-trash-alt"></i></button></td>

    </tr>
</table>
