
<table class="table table-hover">
        <tr>
                        <th>ID</th>
                        <th>Qualification</th>
                        <th>Description</th>
                      </tr>
                      <tr *ngFor ="let Qualifications of QualificationService.list">
            <td (click) = "populateForm(Qualifications)">[{{Qualifications.Qual_ID}}]</td>
            <td (click)="populateForm(Qualifications)"> {{Qualifications.Qual_name}}</td>
            <td (click) = "populateForm(Qualifications)">{{Qualifications.Qual_Description}}</td>
            <td (click) = "onDelete(Qualifications.Qual_ID)"><button class="btn btn-outline-secondary" > <i class="fas fa-trash-alt"></i></button></td>
            
        </tr>
    </table> 

