
<app-dashboard-all></app-dashboard-all>
                     <div class="row" id="wrapper"  style = "position: absolute;bottom: 30px; width: 100%;" *ngIf="userClaims">
                      <div class="col s12 m7">
                        <div class="card-panel teal accent-4">
                          <div class="card-content white-text">
                            <span>Username :{{userClaims.UserName}}</span>
                            <br>
                            <span>Email : {{userClaims.Email}}</span>
                            <br>
                            <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
                            <br>
                            <span>Logged On : {{userClaims.LoggedOn}}</span>
                          </div>
                        </div>
                      </div>
